{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>
<body>
    {% block content %}

    {% for message in messages %}
	<h2 style="color: red;">  {{ message }}  </h2>
	  {% endfor %}
    <form method="post" action ="/verify/">
        {% csrf_token %}
        <input name = "otp"  placeholder="Enter Secret-key" required />
        <button type = "submit">Submit</button>


    </form>




    {% endblock content %}
</body>
</html>